@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

section {
    height: 100vh;
}

.blue {
    background-color: blue;

}

.red {
    background-color: red;

}

.green {
    background-color: green;

}

header,
footer {
    font-size: 2rem;
    color: white;
    height: 100px;
    text-align: center;

}

header {
    position: sticky;
    top: 0;
}

footer {
    position: Sticky;
    bottom: 0;
    background-color: black;
    width: 100%;
}

footer a:visited {
    color: white;
}

footer a:hover {
    cursor: pointer;
    color: aqua;
}

.social {
    background-color: blue;
    position: fixed;
    font-size: inherit;
    z-index: 1;
    top: 30%;
    left: 0;

}