* {
    background-color: bisque
}

body {
    font-family: 'Times New Roman';
}

main {
    font-size: 16px;
}

h1 {
    color: brown;
}

p {
    color: darkolivegreen;
}

.aqua {
    background-color: rgb(245, 245, 121);
    color: hsl(311, 75%, 53%)
}

#article3 p {
    font-weight: bold;
}